<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id = "main_nav">
        <div class="container-fluid">
            <a class="navbar-brand" id = "logo">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id = "home" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id = "note_creator" >Note Creator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id = "pomodoro" >Pomodoro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id = "logout" href="/logout" >Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="container" id = 'main_container'>
        </div>
        <div class="container" id = 'test_container_note_creator' hidden>
            <textarea name="analogy_text_box" id="analogy_text_box" rows="5" cols="33"></textarea>
            <button class = "btn btn-primary" id = "get_analogy_btn">Submit</button>
            <p id = "analogy_output_display"></p>
        </div>

        <div class="container" id = 'test_container_pomodoro' hidden>
            <p id = "pomodoro_phases">Start phase 1: Focused Studying</p>
            <button class = "btn btn-primary" id = "start_timer_btn">start timer</button><button class = "btn btn-danger" id="stop_timer_btn" hidden>Stop timer</button>
            <button class = "btn btn-secondary" id = "reset_timer_btn">Reset timer</button>
            <time id = "pomodoro_counter"></time>
            <div class = "pomodoro_description">
                <h2>What is the Pomodoro technique?</h2>
                <p>The Pomodoro is a studying technique used mainly for tackling procrastination.</p>
                <h3>It consists of 3 stages.</p>
                <h3>Stage 1: Focused studying</h3>
                <p>The goal of this stage is for you to enter the focused mode and learn what you can until the 25 minute timer rings.
                   Procrastination can make you put aside your work for later so you should be trying to convince your brain to last at least
                   These 25 minutes.
                </p>
                <h4>Stage 2: Recalling what you learned</h4>
                <p>This stage is all about thinking back on these 25 minutes and trying to gather all the important information you have learned about. You shouldn't spend more than
                    3-5 minutes in this stage.
                </p>
                <h4>Stage 3: Restfull wakefullnes</h4>
                <p>This is the stage everyone is waiting for. It is all about relaxing your brain and letting it enter the Difuse Mode. In this stage you shouldn't
                    put and strain on your brain and just let it relax. The most important thing is not to touch your phone, pc or anything that could take your attention and
                    put your brain back into the Focused Mode.
                </p>
            </div>
        </div>
    </main>

    <script type="module" src="static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>


</body>
</html>
